<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Daftar Akun</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="d-flex align-items-center justify-content-center">

<div class="glass-card" style="width: 400px;">
    <div class="text-center mb-4">
        <h2 class="fw-bold text-white">Join Us!</h2>
        <p class="text-white-50">Buat akun admin perpustakaan</p>
    </div>
    
    <form th:action="@{/register/save}" method="post" th:object="${user}">
        <div class="mb-3">
            <input type="text" th:field="*{username}" class="form-control" placeholder="Username Baru" required />
        </div>
        <div class="mb-4">
            <input type="password" th:field="*{password}" class="form-control" placeholder="Password Kuat" required />
        </div>
        <button type="submit" class="btn btn-glass w-100 fw-bold">DAFTAR SEKARANG</button>
    </form>

    <div class="text-center mt-4">
        <a href="/login" class="text-white text-decoration-none">Sudah punya akun? Login</a>
    </div>
</div>

</body>
</html>